# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
./cdk/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out/
*.env

# go.sum should be committed
!go.sum
!*.go

